{% extends 'madadju/madadju-base.html' %}

{% block title %}
    ارسال پیام
{% endblock %}



{% block content %}
    <!--page content-->
    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px; text-align: right;">
                       <h1 style="font-family: 'B Nazanin';">ارسال پیام</h1>
                        <br>
                        <form>
                            <p style="font-size: 24px; font-family: 'B Nazanin'; color: #4d0926; ">
                                عنوان پیام
                                <br>
                                <input type="text" align="right" style="border-radius: 8px; border-style: ridge;">
                                <br>
                                <br>
                                گیرنده
                                <br>
                                <select style="border-radius: 8px; border-style: ridge;">
                                    <option>
                                        مددکار
                                    </option>
                                    <option>
                                        مدیر
                                    </option>
                                </select>
                                <br><br>
                                متن پیام
                                <br>
                                <textarea style="text-align: right; border-radius: 8px; border-style: ridge;" rows="10" cols="30"></textarea>
                                <br>
                                <button type="submit" name="submit" style="color: white; background-color: rgba(121,7,75,0.8); border-radius: 10px; font-size: 28px;">ثبت</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}