{% extends 'modir/base.html' %}
{% block title %}لیست پرداخت‌ها به بنیاد{% endblock %}

{% block body %}
{% block content %}
    <!--page content-->
    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">
                        <h3>گزارش پرداخت‌ها به بنیاد</h3>

                        {% if all_payments %}
                            {% for payment in all_payments %}
                                <div class="col-sm-4 col-lg-2">
                                    <div class="thumbnail">

                                        <div class="caption">
                                            <h2>{{ payment.date }}</h2>
                                            <h4>{{ payment.value }}</h4>
                                            <h4>{{ payment.pk }}</h4>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}